@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inknut+Antiqua&family=Inter:wght@300&family=Pacifico&family=Tinos:ital,wght@0,400;1,700&display=swap");
/*

    font-family: 'Berkshire Swash', cursive;

    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Berkshire Swash', serif;
font-family: 'Cinzel Decorative', serif;
font-family: 'Bebas Neue', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #030303;
  width: 100%;
  height: 8.125rem; }
  header .setionIcon {
    padding-right: 1.875rem; }
    header .setionIcon .icoWatsapp {
      position: fixed; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.25rem; }
    header .navbar .collapse {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      header .navbar .collapse ul .nav-item {
        padding: .625rem;
        border-left: .125rem;
        border-color: black;
        font-size: 1.25rem;
        color: white; }
        header .navbar .collapse ul .nav-item a {
          color: white; }
        header .navbar .collapse ul .nav-item a:hover {
          color: red; }
  header .logo {
    width: 18.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .625rem;
    color: white; }
    header .logo a picture img {
      width: 5.625rem;
      height: 5.625rem;
      border-color: black;
      border-style: double;
      border-radius: 50px; }
    header .logo h1 {
      font-size: 1.25rem; }

.mainIndex {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainIndex .imgPortada {
    padding: 2.5rem; }

.bodySale {
  background-color: #bdbcbc;
  width: 100%;
  height: 100%; }
  .bodySale .mainSale {
    display: flex;
    justify-content: space-between;
    width: 93%;
    height: 100%;
    background-color: #fafafa;
    margin: 0 3.125rem 0 3.125rem; }
    .bodySale .mainSale .carousel {
      display: flex;
      width: 18.75rem;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
      margin: 1.875rem;
      border-radius: .625rem;
      padding-top: 1.25rem; }
      .bodySale .mainSale .carousel .tituloNews {
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700; }
      .bodySale .mainSale .carousel img {
        width: 18.75rem;
        height: 15.625rem; }
      .bodySale .mainSale .carousel .carousel-inner {
        width: 18.75rem;
        border-radius: .625rem;
        box-shadow: 0.125rem 0.125rem 0.125rem #666565; }
        .bodySale .mainSale .carousel .carousel-inner .carousel-item {
          width: 18.75rem; }
          .bodySale .mainSale .carousel .carousel-inner .carousel-item .card {
            width: 18.75rem; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card img {
              width: 18.75rem;
              height: 15.625rem; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card .card-body .btn {
              background-color: black; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card .card-body .btn:hover {
              color: red; }
          .bodySale .mainSale .carousel .carousel-inner .carousel-item .card-body {
            width: 18.75rem; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card-body .list-group {
              width: 18.75rem; }
    .bodySale .mainSale .container {
      margin: 1.25rem; }
      .bodySale .mainSale .container .tituloGallery {
        font-size: 2.5rem;
        font-family: 'Pacifico'; }
      .bodySale .mainSale .container .row .col {
        width: 15.625rem;
        padding: .625rem; }
        .bodySale .mainSale .container .row .col .card {
          text-align: start;
          width: 14.375rem;
          transition: 0.2s ease-in-out;
          box-shadow: 0.125rem 0.125rem 0.125rem #666565; }
          .bodySale .mainSale .container .row .col .card img {
            width: 14.375rem;
            height: 12.5rem; }
          .bodySale .mainSale .container .row .col .card .card-body {
            width: 14.375rem; }
            .bodySale .mainSale .container .row .col .card .card-body .btn {
              background-color: black; }
            .bodySale .mainSale .container .row .col .card .card-body .btn:hover {
              color: red; }
        .bodySale .mainSale .container .row .col .card:hover {
          box-shadow: 0.3125rem 0.3125rem 0.3125rem #666565; }

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
  color: white; }
  footer .logosSocials {
    display: flex;
    justify-content: space-between;
    width: 15.625rem;
    padding: 1.875rem;
    margin-right: 1.875rem; }
    footer .logosSocials img {
      width: 2.5rem;
      height: 2.5rem; }

@media (max-width: 768px) {
  .bodySale {
    background-color: white;
    width: 100%;
    height: 100%; }
    .bodySale header .logo {
      width: 2.5rem;
      height: 1.875rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1.875rem; }
      .bodySale header .logo a picture img {
        width: 4.375rem;
        height: 4.375rem;
        border-color: black;
        border-style: double;
        border-radius: 50px; }
      .bodySale header .logo h1 {
        display: none; } }
