@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Cinzel+Decorative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inknut+Antiqua&family=Inter:wght@300&family=Pacifico&family=Tinos:ital,wght@0,400;1,700&display=swap");
/*

    font-family: 'Berkshire Swash', cursive;

    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Berkshire Swash', serif;
font-family: 'Cinzel Decorative', serif;
font-family: 'Bebas Neue', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #030303;
  width: 100%;
  height: 8.125rem;
  border-bottom: solid 0.125rem #3a3a3a; }
  header .setionIcon {
    padding-right: 1.875rem; }
    header .setionIcon .icoWatsapp {
      position: fixed; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 1.25rem; }
    header .navbar .collapse ul .nav-item {
      padding: .625rem;
      border-left: .125rem;
      border-color: black;
      font-size: 1.25rem;
      color: white; }
      header .navbar .collapse ul .nav-item a {
        color: white; }
      header .navbar .collapse ul .nav-item a:hover {
        color: red; }
  header .logo {
    width: 18.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .625rem;
    color: white; }
    header .logo a picture img {
      width: 5.625rem;
      height: 5.625rem;
      border-color: black;
      border-style: double;
      border-radius: 50px; }
    header .logo h1 {
      font-size: 1.25rem; }

.mainIndex {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: c; }
  .mainIndex .imgPortada {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25rem; }
    .mainIndex .imgPortada img {
      padding: .625rem; }
    .mainIndex .imgPortada iframe {
      padding: 1.25rem; }
    .mainIndex .imgPortada .map {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 1.875rem;
      gap: 1.25rem; }
      .mainIndex .imgPortada .map img {
        width: 90%;
        padding: 1.25rem; }

.financiacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/financiacion.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: center; }
  .financiacion .logosAutosUno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    gap: 1.25rem; }
    .financiacion .logosAutosUno img {
      width: 30%; }
  .financiacion .logosAutosDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    gap: 1.25rem; }
    .financiacion .logosAutosDos img {
      width: 30%; }

.containerContact {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  padding: 1.25rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5625rem;
  flex-direction: column;
  align-items: center; }
  .containerContact .map {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .containerContact .map .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50%;
      padding: 1.875rem;
      border-color: white;
      border-style: solid;
      border-radius: .625rem; }
    .containerContact .map .flyerCtto {
      width: 31.25rem;
      display: flex;
      justify-content: center; }
      .containerContact .map .flyerCtto img {
        width: 50%;
        height: 100%;
        border-radius: .3125rem; }
  .containerContact .ubication {
    padding: 1.875rem; }
    .containerContact .ubication iframe {
      width: 31.25rem;
      height: 18.75rem;
      border-radius: .3125rem; }

.bodySale {
  background-color: #bdbcbc;
  width: 100%;
  height: 100%; }
  .bodySale .mainSale {
    display: flex;
    justify-content: space-around;
    width: 93%;
    height: 100%;
    background-color: #fafafa;
    margin: 3.125rem; }
    .bodySale .mainSale .carousel {
      display: flex;
      width: 18.75rem;
      height: 100%;
      justify-content: space-between;
      flex-direction: column;
      margin: 3.125rem;
      border-radius: .625rem;
      padding-top: 1.25rem; }
      .bodySale .mainSale .carousel .tituloNews {
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 700; }
      .bodySale .mainSale .carousel img {
        width: 18.75rem;
        height: 15.625rem; }
      .bodySale .mainSale .carousel .carousel-inner {
        width: 18.75rem;
        border-radius: .625rem;
        box-shadow: 0.125rem 0.125rem 0.125rem #666565; }
        .bodySale .mainSale .carousel .carousel-inner .carousel-item {
          width: 18.75rem; }
          .bodySale .mainSale .carousel .carousel-inner .carousel-item .card {
            width: 18.75rem; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card img {
              width: 18.75rem;
              height: 15.625rem; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card .card-body .btn {
              background-color: black; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card .card-body .btn:hover {
              color: red; }
          .bodySale .mainSale .carousel .carousel-inner .carousel-item .card-body {
            width: 18.75rem; }
            .bodySale .mainSale .carousel .carousel-inner .carousel-item .card-body .list-group {
              width: 18.75rem; }
    .bodySale .mainSale .container {
      margin: 1.25rem; }
      .bodySale .mainSale .container .tituloGallery {
        font-size: 2.5rem;
        font-family: 'Pacifico'; }
      .bodySale .mainSale .container .row .col {
        display: flex;
        justify-content: center;
        width: 15.625rem;
        padding: .625rem; }
        .bodySale .mainSale .container .row .col .card {
          text-align: start;
          width: 16.875rem;
          transition: 0.2s ease-in-out;
          box-shadow: 0.125rem 0.125rem 0.125rem #666565; }
          .bodySale .mainSale .container .row .col .card img {
            width: 16.875rem;
            height: 12.5rem; }
          .bodySale .mainSale .container .row .col .card .card-body {
            width: 14.375rem; }
            .bodySale .mainSale .container .row .col .card .card-body .btn {
              background-color: black; }
            .bodySale .mainSale .container .row .col .card .card-body .btn:hover {
              color: red; }
        .bodySale .mainSale .container .row .col .card:hover {
          box-shadow: 0.3125rem 0.3125rem 0.3125rem #666565; }

.financiacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/financiacion.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: center; }
  .financiacion .logosAutosUno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    gap: 1.25rem; }
    .financiacion .logosAutosUno img {
      width: 30%; }
  .financiacion .logosAutosDos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    gap: 1.25rem; }
    .financiacion .logosAutosDos img {
      width: 30%; }

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
  color: white;
  padding: 1.875rem;
  border-top: solid 0.125rem #3a3a3a; }
  footer .logosSocials {
    display: flex;
    justify-content: space-between;
    width: 15.625rem;
    padding: 1.875rem;
    margin-right: 1.875rem; }
    footer .logosSocials img {
      width: 2.5rem;
      height: 2.5rem; }
  footer .sectionUbicacion {
    font-size: 1.5625rem;
    color: #ff7300;
    padding: 1.875rem; }

@media (max-width: 768px) {
  header .logo {
    width: 2.5rem;
    height: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.875rem; }
    header .logo a picture img {
      width: 4.375rem;
      height: 4.375rem;
      border-color: black;
      border-style: double;
      border-radius: 50px; }
    header .logo h1 {
      display: none; }
  header .container-fluid .show {
    display: flex;
    justify-content: flex-end; }
  header .container-fluid .collapse {
    color: #eb0000;
    width: 6.25rem; }
    header .container-fluid .collapse .navbar-nav {
      color: red; }
      header .container-fluid .collapse .navbar-nav .nav-item {
        color: red;
        background-color: rgba(117, 117, 117, 0.616);
        width: 9.375rem; } }
