@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Cinzel+Decorative&display=swap');
/*

    font-family: 'Berkshire Swash', cursive;

    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Berkshire Swash', serif;
font-family: 'Cinzel Decorative', serif;
*/

@import "./base/reset";
@import "./utilities/variables";
@import "./utilities/mixins";



@import "./layout/header";

@import "./layout/main-index";
@import "./layout/main-financiacion";
@import "./layout/main-contacto.scss";
@import "./layout/main-comprar.scss";
@import "./layout/main-financiacion.scss";

@import "./layout/footer";

@import "./layout/mediaQ/media320";
@import "./layout/mediaQ/media768";