footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
    justify-content: space-between;
    color: white;
    padding: 1.875rem;
    border-top: solid .125rem rgb(58, 58, 58);
    .logosSocials{
        display: flex;
        justify-content: space-between;
        width: 15.625rem;
        padding: 1.875rem;
        margin-right: 1.875rem;
        
        img{
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    .sectionUbicacion{
        font-size: 1.5625rem;
        color: rgb(255, 115, 0);
        padding: 1.875rem;
    }
}