@media(max-width:1000px){
    
    header{
        
        .logo{
            width: 2.5rem;
            height: 1.875rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1.875rem;
            a{
                picture{
                    img{
                        width: 4.375rem;
                        height: 4.375rem;
                        border-color: black;
                        border-style: double;
                        border-radius: 50px;
                    }
                }
            }
            h1{
                display: none;
            }                
        }
   
        .container-fluid{
            .show{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            .collapse{
              z-index: 999;
                .navbar-nav{
                    
                    color: rgb(255, 0, 0);
                    .nav-item{
                        
                        color: rgb(255, 0, 0);
                        background-color: rgba(117, 117, 117, 0.616);
                        
                        width: 9.375rem;
                        
                    }
                    
                }
            }
        }     
    } 
    .mainIndex{
        width: 100%;
        .imgPortada{
            width: 100%;
            margin-top: 1.25rem;
            .imgIndex{
                width: 100%;
                height: 100%;
            }
        }
        .sectionIcon{
            display: none;
        .icoWatsapp{
            
            position: fixed;
        }
    }
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #000000;
        justify-content: space-between;
        color: white;
        padding: 1.25rem;
        border-top: solid .125rem rgb(58, 58, 58);
        .logosSocials{
            display: flex;
            justify-content: space-between;
            width: 15.625rem;
            padding: 1.875rem;
            margin: 0;
            flex-direction: column;
            gap: .625rem;
            align-items: center;
            img{
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        .sectionUbicacion{
          
            .tituloLocales{
                font-size: 1.125rem;
                
            }
        }
    }
    
    .bodySale{
        
        .mainSale{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgb(206, 206, 206);
            margin: 0;
            
            .carousel{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                margin: 0;
                border-radius: .625rem;
                
                
                .tituloNews{
                    text-align: center;
                    font-size: 1.5rem;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 700;
                }
                img{
                    width: 18.75rem;
                    height: 15.625rem;
                }
                .carousel-inner{
                    width: 18.75rem;
                    border-radius: .625rem;
                    box-shadow: .125rem .125rem .125rem rgb(102, 101, 101);
                    .carousel-item{
                        width: 18.75rem;
                        .card{
                            width: 18.75rem;
                            img{
                            width: 18.75rem;
                            height: 15.625rem;
                            }
                            .card-body{
                                .btn{
                                    background-color: black;
                                }
                                .btn:hover{
                                    color: red;
                                }
                            }
                        }
                        .card-body {
                            width: 18.75rem;
                            .list-group{
                            width: 18.75rem;
                        }
                        }
                    }
                }
            }
            .container{
                margin: 1.25rem;
                .tituloGallery{
                    display: none;
                }
                .row{
                    .col{
                        display: flex;
                        justify-content: center;
                        width: 15.625rem;
                        padding: .625rem;
                        
                        
                        .card{
                            text-align: start;
                            width: 16.875rem;
                            transition: 0.2s ease-in-out;
                            box-shadow: .125rem .125rem .125rem rgb(102, 101, 101);
                            img{
                                width: 100%;
                                height: 12.5rem;
                            }
                            .card-body{
                                width: 14.375rem;
                                .btn{
                                    background-color: black;
                                }
                                .btn:hover{
                                    color: red;
                                }
                            }
                        }
                        .card:hover{
                            box-shadow: .3125rem .3125rem .3125rem rgb(102, 101, 101);
                        }
                    }
                }
            }
            .sectionIcon{
                display: none;
            .icoWatsapp{
                
                position: fixed;
            }
        }   
        }
      
    }
    
     
 main{
    background-color: black;
    width: 100%;
    margin: 0;
    .sectionIcon{
        display: flex;
        justify-content: flex-end;
        padding-right: 3.75rem;
        .icoWatsapp{
            z-index: 999;
            position: fixed;
        }
    }
     .financiacion{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 100%;
    height: 100vh;
    background-image:url("../assets/img/financiacion.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(0, 0, 0);
    background-position: top;
    align-items: center;
    padding: .625rem;
    .logosAutosUno {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        gap: 1.25rem;
        img{
            width: 30%;
        }
    }
    .logosAutosDos {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        gap: 1.25rem;
        img{
            width: 30%;
        }
    }
   

    }
 }

 .containerContact{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    padding: 1.25rem;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5625rem;
    flex-direction: column;
    align-items: center;
    
    .flyerCtto{
            width: 90%;
            margin-left: 0 ;
            display: flex;
            justify-content: center;
            img{
                width: 50%;
                height: 100%;
                border-radius: .3125rem;
                }
        }
    .map{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-top: 1.875rem;
        p{
            display: none;
        }
        .form{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: .3125rem;
            border-color: white;
            border-style: solid;
            border-radius: .625rem;
            
        } 
        
    }
   
    .ubication{
        padding: 1.875rem;
        iframe{
            width: 31.25rem;
            height: 18.75rem;
            border-radius: .3125rem;
        }
    }
    
}

}